<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>@ViewData["Title"] AmberXPay </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css">

    <meta name="keywords" content="bootstrap, mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/Amberxpay-favicon1.png">
    <link rel="icon" type="image/png" href="~/assets/img/Amberxpay-favicon.png" sizes="32x32">
    <link rel="shortcut icon" href="~/assets/img/Amberxpay-favicon.png">
</head>

<body style="background-image: url('assets/img/Background1.jpg');background-size:cover;background-repeat:no-repeat;height:100vh">

    @RenderBody()


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


