 <!-- loader -->
<div id="loader" style="background-color:white">
    <img src="~/assets/img/Amberxpay-favicon1.png" alt="icon" class="loading-icon">
</div>
<!-- * loader -->
<!-- App Header -->
<div class="appHeader no-border transparent">

        <div class="pageTitle">
            <img src="~/assets/img/Amberxpay_logo1.png" alt="logo" class="logo">
        </div>

    </div>
    <!-- * App Header -->
    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="carousel-button-footer" style="background-color:transparent!important">
            <div class="row">
                <div class="col-6">
                    <a href="/Home/Register" class="btn btn-outline-secondary btn-lg btn-block">Register</a>
                </div>
                <div class="col-6">
                    <a href="/Home/Login" style="background-color:#dea00b!important;border-color:#dea00b!important" class="btn btn-primary btn-lg btn-block">Login</a>
                </div>
            </div>
        </div>


    </div>
 

    <script src="assets/js/lib/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="assets/js/lib/popper.min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>
    <!-- Ionicons -->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <!-- Owl Carousel -->
    <script src="assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- Base Js File -->
    <script src="assets/js/base.js"></script>
