<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/387fcb31-0236-49dc-888b-064b5f6b5e9d/resourceGroups/AmberXpay/providers/Microsoft.Web/sites/AmberXpay</ResourceId>
    <ResourceGroup>AmberXpay</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://amberxpay.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>amberxpay.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AmberXpay</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AmberXpay</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>